= link_to post_comment_path(@post, comment), method: :delete, class: 'btn btn-danger btn-xs custom-button' do
  = icon('far', 'trash-alt', "data-toggle": 'tooltip', "data-placement": 'top', title: t(:delete))
